{% extends 'base.html' %}
{% load static %}

{% block title %}
Home | Afrocreed
{% endblock %}

{% block content %}
<div class="site-blocks-cover" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto order-md-2 align-self-start">
        <div class="site-block-cover-content">
        <h2 class="sub-title">#Explore Africa with Afrocreed</h2>
        <h1>AFROCREED ACET</h1>
        <p><a href="{% url 'home' %}" class="btn btn-black rounded-0">Shop Now</a></p>
        </div>
      </div>
      <div class="col-md-6 order-1 align-self-end">
        <img src="{% static 'images/model_3.png' %}" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<!-- <div class="site-section">
  <div class="container">
    <div class="title-section mb-5">
      <h2 class="text-uppercase"><span class="d-block">Discover</span> Afrocreed Services</h2>
    </div>
    <div class="row align-items-stretch">
      <div class="col-lg-8">
        <div class="product-item sm-height full-height bg-gray">
          <a href="{% url 'cargo' %}" class="product-category">Cargo <span>25 items</span></a>
          <img src="{% static 'images/model_4.png' %}" alt="Image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="product-item sm-height bg-gray mb-4">
          <a href="{% url 'events' %}" class="product-category">Events <span>25 items</span></a>
          <img src="{% static 'images/model_5.png' %}" alt="Image" class="img-fluid">
        </div>

        <div class="product-item sm-height bg-gray">
          <a href="{% url 'tours' %}" class="product-category">Tours <span>25 items</span></a>
          <img src="{% static 'images/model_6.png' %}" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
        <div class="icon mr-4 align-self-start">
          <span class="icon-truck"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Free Shipping</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
        <div class="icon mr-4 align-self-start">
          <span class="icon-refresh2"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Free Returns</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
        <div class="icon mr-4 align-self-start">
          <span class="icon-help"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Customer Support</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="site-section custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <div class="block-16">
          <figure>
            <img src="images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded">
            <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="icon-play"></span></a>

          </figure>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        
        
        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">How We Started</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repellat, dicta at laboriosam, nemo exercitationem itaque eveniet architecto cumque, deleniti commodi molestias repellendus quos sequi hic fugiat asperiores illum. Atque, in, fuga excepturi corrupti error corporis aliquam unde nostrum quas.</p>
        <p>Accusantium dolor ratione maiores est deleniti nihil? Dignissimos est, sunt nulla illum autem in, quibusdam cumque recusandae, laudantium minima repellendus.</p>
        
      </div>
    </div>
  </div>
</div>


<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section mb-5 col-12">
        <h2 class="text-uppercase">Popular Merchandise</h2>
      </div>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a href="{% url 'product' product.id %}" class="product-item md-height bg-gray d-block">
          <img src="{{ product.image.url }}" alt="Image" class="img-fluid">
        </a>
        <h2 class="item-title"><a href="{% url 'product' product.id %}">{{ product.name }}</a></h2>
        <strong class="item-price">$ {{ product.price }}</strong>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section text-center mb-5 col-12">
        <h2 class="text-uppercase">Most Rated</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 block-3">
        <div class="nonloop-block-3 owl-carousel">

          {% for product in products %}
            {% if product.is_sale %}
          <div class="item">
            <div class="item-entry">
              <a href="{% url 'product' product.id %}" class="product-item md-height bg-gray d-block">
                <img src="{{ product.image.url }}" alt="Image" class="img-fluid">
              </a>
              <h2 class="item-title"><a href="{% url 'product' product.id %}">{{ product.name }}</a></h2>
              <strong class="item-price"><del>$ {{ product.price }}</del> $ {{ product.sale_price }}</strong>
              <div class="star-rating">
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
              </div>
            </div>
          </div>

            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>


<div class="site-blocks-cover inner-page py-5" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto order-md-2 align-self-start">
        <div class="site-block-cover-content">
        <h2 class="sub-title">#Contact Us</h2>
        <h1>Need Any Help?</h1>
        <p><a href="{% url 'contact' %}" class="btn btn-black rounded-0">Contact Us Now</a></p>
        </div>
      </div>
      <div class="col-md-6 order-1 align-self-end">
        <img src="{% static 'images/model_6.png' %}" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>
{% endblock %}