<div class="site-navbar bg-white py-2">

    <div class="search-wrap">
      <div class="container">
        <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
        <form action="#" method="post">
          <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
        </form>
      </div>
    </div>

    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div class="logo">
          <div class="site-logo">
            <a href="{% url 'home' %}" class="js-logo-clone">afrocreed</a>
          </div>
        </div>
        <div class="main-nav d-none d-lg-block">
          <nav class="site-navigation text-right text-md-center" role="navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li class="has-children active">
                <a href="{% url 'home' %}">Home</a>
                <ul class="dropdown">
                  <li><a href="{% url 'about' %}">about</a></li>
                  <li><a href="{% url 'cargo' %}">Cargo</a></li>
                  <li><a href="{% url 'events' %}">Events</a></li>
                  <li><a href="{% url 'tours' %}">Tours</a></li>
                  <li class="has-children">
                    <a href="#">
                        <span class="icon-user"> </span>
                        User
                    </a>
                    <ul class="dropdown">
                        {% if user.is_authenticated %}
                      <li><a href="{% url 'update_info' %}"><span class="icon-user"> </span>User Information</a></li>
                        <li><a href="{% url 'update_user' %}"><span class="icon-user"> </span>User Profile</a></li>
                        <li><a href="{% url 'logout' %}"><span class="icon-user"> </span> Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}"><span class="icon-user"> </span>Login</a></li>
                        <li><a href="{% url 'register' %}"><span class="icon-user"> </span>Register</a></li>
                        {% endif %}
                    </ul>
                  </li>
                </ul>
              </li>
              
              <li class="has-children">
                <a href="#">
                    Shop
                </a>
                <ul class="dropdown">
                  <li><a href="{% url 'category' 'Sweaters' %}"><span class="icon-user"> </span>Sweaters</a></li>
                  <li><a href="{% url 'category' 'Perfumes' %}"><span class="icon-user"> </span>Perfumes</a></li>
                  <li><a href="{% url 'category' 'Shirts' %}"><span class="icon-user"> </span>Shirts</a></li>
                  <li><a href="{% url 'category' 'Leggings' %}"><span class="icon-user"> </span>Leggings</a></li>
                </ul>
              </li>
              {% if user.is_superuser %}
              <li class="has-children">
                <a href="#">
                    Orders
                </a>
                <ul class="dropdown">
                  <li><a href="{% url 'shipped_dash' %}"><span class="icon-user"> </span>Shipped Orders</a></li>
                  <li><a href="{% url 'not_shipped_dash' %}"><span class="icon-user"> </span>UnShipped Orders</a></li>
                </ul>
              </li>
              {% else %}
              <li><a href="#">Catalog</a></li>
              {% endif %}
              <li><a href="#">New Arrivals</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="icons">
          <!-- <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a> -->
          <a href="{% url 'search' %}" class="icons-btn d-inline-block"><span class="icon-search"></span></a>
          <a href="#" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
          <a href="{% url 'cart_summary' %}" class="icons-btn d-inline-block bag">
            <span class="icon-shopping-bag"></span>
            <span class="number" id="cart_quantity" >{{ cart|length }}</span>
          </a>
          <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
        </div>
      </div>
    </div>
  </div>