{% extends 'base.html' %}
{% load static %}

{% block title %}
Update Password | Afrocreed
{% endblock %}

{% block content %}
<div class="site-blocks-cover" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto order-md-2 align-self-start">
        <div class="site-block-cover-content">
        <h2 class="sub-title">#update password</h2>
        <h1>Update User Password</h1>
        <p><a href="#" class="btn btn-black rounded-0">Update User Password</a></p>
        </div>
      </div>
      <div class="col-md-6 order-1 align-self-end">
        <img src="{% static 'images/model_3.png' %}" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Update User Password</h3>
                        <form method="POST" action="{% url 'update_password' %}">
                            {% csrf_token %}
                            
                            {{ form.as_p }}

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Update Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}